.todo-list-item {
    position: relative;
    height: 5vw;
    margin: 2vw 0;
}

.none-task {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #888;
}

.todo-list-item input.todo-task {
    width: calc(98% - 2vw);
    padding-left: 2vw;
    font-size: 2vw;
    color: #FFF; 
    height: 100%;
    background: #555;
    border: none;
    transition: 0.5s;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);  
}

.todo-list-item input.todo-task:disabled {
    background: #eee;
    border: none;
    color: #555;
}

.todo-list-item div.actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 15%;
    height: 100%;
    top: 0;
    right: 3vw;
    position: absolute;
}

.todo-list-item div.actions button{
    background: transparent;
    border: 3px solid;
    font-size: 1.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #FFF;
}

.todo-list-item div.actions button.edit {
    color: #007bff;
}

.todo-list-item div.actions button.finish {
    color: #28a745;
}

.todo-list-item div.actions button.delete {
    color: #dc3545;
}

.isFinished {
    opacity: 0.4 !important;
}

@media(max-width: 601px) {
    .todo-list-item {
        height: 12vw;
        font-size: 3vw;
    }
    
    .todo-list-item div.actions button {
        width: 5vw;
        height: 5vw;
    }
    .todo-list-item div.actions {
        width: 22vw;
    }
}