ul.todo-list {
    list-style: none;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
    width: 5px;
    margin-top: 30px;
}
 
.todo-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    width: 1em;
    margin-top: 30px; 
}
 
.todo-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  width: 1em;
}